<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>
</head>
<body>
<h1> This is the index page</h1>
<!-- Table to list all students by name -->

<div th:if="${studentList != null and !studentList.empty}">
		<table>
			<tr>
				<th>Name</th>
			</tr>
			<tr th:each="s : ${studentList}">
				<td th:text="${s.name}">Frank</td>
			</tr>
		</table>
	</div>

<br><hr><br>
<!-- Form to insert a student -->

	<form method="post" th:action="@{/insertStudent}" th:object="${student}">
		<input type="hidden" name="id" th:field="*{id}">
		Name: <input type="text" name="name" th:field="*{name}"><br>
		<input type="submit" value="Save Student!">
	</form>
</body>
</html>