<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Shernan's Preferred Name</title>
</head>
<body>
	<h1>Shernan's Nicknames</h1>
	<h2>My name is Shernan but I get called 
	<span style="color:#389C45">M</span><span style="color:#CE7771">E</span><span style="color:#276092">R</span><span style="color:#9DC04A">N</span>an by my friends because
	I try to use the 
	<span style="color:#389C45">M</span><span style="color:#CE7771">E</span><span style="color:#276092">R</span><span style="color:#9DC04A">N</span>
	 stack for everything I build :D</h2>
	 <h3>Here is my super nerdy but neat MERN shirt: </h3>
	 <img style="height:300px; width:300px"src="https://i.imgur.com/JODce2y.jpg"/> <br/>
	<a href="/">Return to Index</a>
</body>
</html>