<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add an Avenger!</title>
</head>
<body>
	<h1>Enter your hero's information</h1>
	
	<form action="#" th:action="@{/addAvenger}" method="POST" th:object="${avenger}">
	
		<p>Name: <input type="text" th:field="*{name}" required></p>
		<p>Age: <input type="number" th:field="*{age}" required></p>
		<p>Power Source: <select th:field="*{powerSource}">
			<option th:each="source : *{powerSources}" th:value="${source}" th:text="${source}">
		</select> </p>
		<p><input type="submit" value="Add!"></p>
	</form>
</body>
</html>