<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Avengers!</title>
</head>
<body>
	<h1>Welcome to the Avengers Database</h1>
	<div th:if="${avengerList.empty}"> <!--If list is empty, display "Add an Avenger to Begin" message -->
		<h2>Add an Avenger to begin!</h2>
	</div>
	<div th:unless="${avengerList.empty}">
		<table>
			<tr>
			<th>Name</th><th>Age</th><th>Power Source</th>
			</tr>
			<tr th:each="avenger : ${avengerList}">
				<td th:text="${avenger.name}">Thor</td>
				<td th:text="${avenger.age}">32</td>
				<td th:text="${avenger.powerSource}">Deity</td>
			</tr>
		</table>
	</div>
	<p><a href="/addPage">Add an Avenger</a></p>
</body>
</html>