<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Is Java Fun?</title>
</head>
<body>
	<form action="/submitForm" method="POST">
		<h1>Do you think Java is fun to use?</h1>
		<input type="radio" name="answer" value="yes" checked>Yes<br>
		<input type="radio" name="answer" value="no">No<br>
		<br>
		<input type="checkbox" name="mailing">Add to mailing list<br>
		Name: <input type="text" name="name"><br>
		Email: <input type="email" name="email"><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>