<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Secure</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
	<h1>Inventory Editor</h1>
	<a href="/sendMessage" th:href="@{/sendMessage}">Confirm Email</a>
	<p><a href="/" th:href="@{/}">Back to Home Page</a></p>
	<p><a href="#" th:href="@{/logout}">Logout</a></p>
	<table th:if="${bookList != null AND bookList != ''}" >
		<tr>
			<th>Book Name</th>
			<th>Author</th>
		</tr>
		<tr th:each="b:${bookList}">
			<td th:text="${b.name}">Naruto</td>
			<td th:text="${b.author}">Author</td>
			<td><a th:href="@{/editBookById/} + ${b.id}">Edit</a></td>
			<td><a th:href="@{/deleteBookById/} + ${b.id}">Delete</a></td>
		</tr>
	</table><br>
	<form method="post" action="" th:action="@{/insertBook}" th:object="${book}">
		<input type="hidden" name="id" th:field="*{id}"/>
		Name: <input type="text" name="name" th:field="*{name}" required /><br>
		Author: <input type="text" name="author" th:field="*{author}" required /><br>
		<input type="submit" value="Go!" />
	</form>
	<p>Known Issue: Enter name and author to view full list of books.</p>
	<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>